<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css">
</head>
<body onload="startTime()">
    <div class="float-container">

        <div class="float-child">
            <div class="tile" onclick=navigateToHomePage()>
                <span class="tile-text" href="/Home/Index">Anasayfa</span>
            </div>
        </div>

        <div class="float-child">
            <div class="tile">
                <span class="tile-text">KAMP YERLERİ</span>
            </div>
        </div>

        <div class="float-child">
            <div class="tile">
                <span class="tile-text clock">12:25 12.05.2022</span>
            </div>
        </div>

    </div>
    <div class="main">
    @RenderBody()
    </div>
    <script src="~/js/site.js"></script>

</body>
</html>


